*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#6C6C6C;
}
.nav1{
    border: 1px solid red;
    font-size: 12px;
}

.nav1-left{
    list-style: none;
}

.nav1 .nav1-item{
    float: left;
}